.who-we {
  padding: 0% 0 0% 0 !important;
}
.who-we-wrapper h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #00a5d3;
  background: #ffffff;
  max-width: fit-content;
  text-align: left;
  padding: 6px 0px !important;
}
.who-we-wrapper h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--bebus-font);
  line-height: 69px;
  padding: 10px 0 8px 0;
  color: #333333;
  max-width: 400px;
}
.who-we-wrapper p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 29px;
  color: #666666;
  max-width: 581px;
}
