.section-commen {
  padding: 5% 0 !important;
  overflow: hidden;
}
.web-developement .content-wraper {
  padding: 0 0 0 10%;
}
.section-sub-heading {
  display: flex;
  /* align-items: center; */
  max-width: fit-content;
  padding: 10px 0 23px 0;
  display: none;
}
.section-sub-heading img {
  object-fit: contain;
  margin-right: 13px;
}
.section-sub-heading h6 {
  margin: 0;
  font-family: var(--bebus-font);
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
}
.section-heading h3 {
  font-family: var(--bebus-font);
  font-weight: 700;
  font-size: 48px;
  color: black;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}
.section-heading h3 span {
  color: #03a6d9;
}
.content-wraper h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: Lato;
  padding: 3% 0 5% 0;
  line-height: 25px;
  margin: 0;
  color: #333333;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
}
.content-wraper ul {
  column-count: 2;
}
.content-wraper ul li {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
.content-wraper ul li h6 {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  font-family: var(--lato-font);
  font-weight: 400 !important;
  color: #333333;
  font-family: Poppins;
}
.content-wraper a {
  font-family: var(--bebus-font);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background: rgb(87, 97, 215);
  background: #00a5d3;
  border-radius: 9px;
  padding: 8px 0px 5px 0;
  display: block;
  max-width: 141px;
  text-align: center;
  transition: all 0.3s ease-in-out !important;
  margin: 30px 0 0 0;
  text-decoration: none;
}
