section.our-client-slider-sec {
  overflow: hidden;
}

.our-clint-logos .item img {
  max-width: 190px !important;
  margin: auto;
}
.our-client-slider-sec {
  padding: 0 0 3% 0;
}
.our-clint-logos .slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0px 20px 0px;
  position: relative;
}
.our-clint-logos .slick-dots li {
  width: 30px;
  height: 4px;
  background-color: #cccccc;
  margin: 0px 5px;
  border-radius: 10px;
}
.our-clint-logos .slick-dots li button {
  display: none;
}
.our-clint-logos .slick-dots li.slick-active {
  background-color: #999999;
}
